.App {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
}
.app__form{
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  margin: 20px;
}

.app__formcontrol{
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  flex:0.98;
}
.app__icon{
  flex:0;
}